# Auto detect text files and perform LF normalization
# .gitattributes
*.html linguist-language=HTML
*.Rmd linguist-language=R
*.py linguist-language=Python
*.sh linguist-language=Shell
*.gff linguist-language=Text
*.csv linguist-language=Text
*.json linguist-language=JSON
*.txt linguist-language=Text
*.bed linguist-language=Text
*.ctl linguist-language=Text
